<nav class="navbar-default" style = "margin-bottom: 0px">
	<div class="container-fluid">
	    <div class="navbar-header">
	      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
	      	</button>
	    	
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        <li id="home-nav"><a href="/">Home</a></li>
	        <li id="soundtest-nav"><a href="/soundtest">Sound Test</a></li>
	        <li id="environment-nav"><a href="/environment">My Environments</a></li>
	        <li id="equipment-nav"><a href="/equipment">My Equipment</a></li>
	        <li id="community-nav"><a href="/community">Community</a></li>
	        <li id="about-nav"><a href="/about">About Us</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      </ul>
	    </div>
  	</div>
</nav>